// * § General 
$color-black-primary: #000; //background 
$color-black-secondary: #262626; // nav

$color-yellow-primary: #FAD961; // duck and gradient
$color-yellow-secondary: #F76B1C;


// * § EventDetail page
$color-dark-gray: #4A4A4A; // section title
$color-light-gray: #9B9B9B; // body text

$color-light-blue: #45A2C7; // links

$color-white-primary: #DDD; // time & location

// * § else
$color-medium-blue: #7686AA; // EventDetail - upvote 
