.InputBox {

  label {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
    transform: translate(-2rem,-7.6rem);
  }

  input:placeholder-shown + label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  input {
    font-size: 1.5rem;
    font-family: inherit;
    color: white; // input text color 
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(#fff, .5);
    border: none;
    border-bottom: 3px solid transparent; // so it wont move down when the stated changed to focus
    width: 90%;
    display: block;
    transition: all .3s;

    &::-webkit-input-placeholder {
        color: #333; // placeholder text color
    }

    &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(#000, .1);
        border-bottom: 3px solid chartreuse;
    }
    &:focus:invalid {
        border-bottom: 3px solid coral;
    }
  }
}