*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
  // this defined what 1rem is -> 10px
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
}
