@import '../../../styles/colors';
@import '../../../styles/variables';
@import '../../../styles/mixins';


.Container {
  font-size: 1.6rem;
  background: $color-black-primary;

  h3 {
    text-transform: uppercase;
    color: $color-dark-gray;
    font-size: 1.8rem;
    padding-bottom: $padding-bottom-small;
  }
  
  a {
    color: $color-light-blue;
    cursor: pointer;

    &:link,
    &:visited {
      text-decoration: none;
    }
  }
  
}

.Img {
  position: relative;
 
  .heading { // event title banner
    z-index: 1;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(#fff, .5);

    p {
      line-height: 4rem;
      font-size: 1.8rem;
      color: $color-dark-gray;
    }
  }
  .imageBox {
    height: 25rem;

    img { // background image 
      height: 100%;
      width: 100%;
      object-fit: cover;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 20rem);
    }
  }

  button { // duck button
    position: absolute;
    @include rounded-corner(5rem);
    right: 4rem;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(#000, .3), rgba($color-yellow-primary, .3));
    border: none;
    transform: translateY(25%);
    padding: 1rem; 
  }

  .Host {
    position: absolute;
    font-size: 1.6rem;
    line-height: 4.4rem;
    left: 2rem;
    bottom: 0;
    transform: translateY(25%);

    div,
    p,
    span {
      float: left;
    }

    & > div { // host image
      background-image: url('../../../assets/hosts/vav.png');
      background-size: cover;
      @include rounded-corner(4.4rem);
    }

    p { // hosted by
      margin-left: .8rem;
      color: $color-light-gray;
    }

    span {
      margin-left: .5rem;
      font-style: italic;
    }
  }
}

.Info { // date and location
  margin: $margin-event-detail-section;
  height: 5rem;
  color: $color-white-primary;
  
  h6 { // Dec 24
    font-size: 1.8rem;
    text-align: center;
    width: 5rem;
    line-height: 2.5rem;
    font-weight: 300;
    float: left;
  }
  .InfoRightBox {
    height: 5rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .Divider { // divider bwteen time and location
      height: 9px;
      margin: 1px 20px;
      width: 2px;
      text-align: 100%;
      background: $color-white-primary;
      display: inline-block;
      border-radius: 2px;
    }
  }
}

.Overview {
  margin: $margin-event-detail-section;

  p {
    color: $color-light-gray;
    line-height: 2.4rem;
  }
}

.Going {
  margin: $margin-event-detail-section;

  div {
    height: 3rem;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
  
}

.Comments {
  margin: $margin-event-detail-section;
}