.container {
  padding-top: 20px;
  padding-bottom: 30px;
  height: 30px;
  line-height: 30px;
  background: #000;
  text-align: center;
}
.item, .item:active {
  color: white;
  margin: 10px;
  cursor: pointer;
  position: relative;
}


.item::before {
  content: '';
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #C4AC6F; 
  transition: all .4s;
  transform: scaleX(0);
}
.item:hover::before {
  transform: scaleX(1);
}

.a:active {
  color: green;
  font-weight: 700;
}